html {
	margin: 0px;
	padding: 0px;
	height: 100%;
}

body {
	background-image: url('images/layout/bg.png');
	margin: 0px;
	padding: 0px;
	height: 100%;
	font-family: verdana;
	font-size: 11px;
	color: white;
}

a {
	color: silver;
	text-decoration: none;
}

a:hover {
	color: #F0F8FF;
	text-decoration: underline;
}


.wrapper {
	width: 100%;
	min-width: 990px;
	margin: 0px;
	padding: 0px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin-bottom: -60px;
	position: relative;
	
}

.push {
	height: 60px;
	position: relative;

}

.footerDiv {
	height: 40px;
	padding-top: 20px;
	position: relative;
	width: 100%;
	text-align: center;
	color: white;
	font-family: 'Aldrich', verdana;
	font-size: 12px;
}


.topGradientBG {
	background-image: url('images/layout/gradientbg-top.png');
	height: 311px;
	width: 100%;
	min-width: 990px;
	position: absolute;
	top: 0px;
	z-index: -100;
}

.bottomGradientBG {
	background-image: url('images/layout/gradientbg-bottom.png');
	height: 311px;
	width: 100%;
	position: absolute;
	bottom: 0px;
	min-width: 990px;
	z-index: -100;
}


.bottom-right-corner {
	background-image: url('images/layout/bottom-right-bg.png');
	width: 306px;
	height: 205px;
	position: absolute;
	bottom: 0px;
	right: 0px;
	z-index: -99;
}

.blue-fire-bg {
	background-image: url('images/layout/bluefire.png');
	width: 261px;
	height: 267px;
	position: absolute;
	z-index: -1;
	top: -95px;
	left: 0px;
}

.orange-fire-bg {
	background-image: url('images/layout/orangefire.png');
	width: 261px;
	height: 267px;
	position: absolute;
	z-index: -1;
	top: -95px;
	right: 0px;
}

.white-fire-left-bg {
	background-image: url('images/layout/whitefire-left.png');
	width: 484px;
	height: 756px;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: -99;
}


.white-fire-right-bg {
	background-image: url('images/layout/whitefire-right.png');
	width: 484px;
	height: 756px;
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: -99;
}

.bottom-fire {
	width: 100%;
	min-width: 990px;
	position: absolute;
	z-index: -99;
	bottom: 0px;
	left: 0px;
	height: 388px;
	background-image: url('images/layout/bottom-fire.png');
}

.contentBox {
	background: rgba(255,255,255,.2);
	border-radius: 3px;
	position: relative;
	width: 85%;
	min-width: 990px;
	min-height: 500px;
	margin-top: 140px;
	margin-left: auto;
	margin-right: auto;
	padding: 3px;
}

.innerContentBox {
	background-color: #000a16;
	width: 100%;
	height: 100%;
	min-width: 990px;
	min-height: 500px;
	position: relative;
}


.headerDiv {
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
	height: 92px;
}

.logoContainer {
	width: 50%;
	position: absolute;
	top: -125px;
	height: 92px;
	left: 0px;
}

.loginContainer {
	width: 50%;
	position: absolute;
	top: -89px;
	height: 92px;
	right: 0px;
}

.loginDiv {
	width: 496px;
	height: 92px;
	background-image: url('images/layout/login-section-bg.png');
	background-repeat: no-repeat;
	margin-left: 0px;
	font-size: 11px;
}


.logoDiv {
	width: 328px;
	height: 161px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}


.loginUsernameImg {
	background: url('images/layout/login/logintext_sprite.png') 0px 0px;
	width: 100px;
	height: 13px;
	position: relative
}

.loginPasswordImg {
	background: url('images/layout/login/logintext_sprite.png') -100px 0px;
	width: 100px;
	height: 13px;
	margin-top: 5px;
	position: relative;
}

.loginRememberMeImg {
	background: url('images/layout/login/logintext_sprite.png') -200px 0px;
	width: 130px;
	height: 13px;
	position: absolute;
	left: 283px;
	top: 30px;
}

.loginTextbox {
	width: 246px;
	font-family: 'Aldrich';
	font-size: 11px;
	color: black;
	border: solid black 1px;
	position: relative;
	margin-top: 3px;
	padding: 2px;
	height: 16px;
	background-image: url('images/layout/login/textboxbg.png');
}


.loginButton {
	width: 97px;
	height: 27px;
	position: absolute;
	background: url('images/layout/login/loginbutton.png') 0px 0px;
	left: 329px;
	top: 55px;
}

.loginButton:hover {
	width: 97px;
	height: 27px;
	position: absolute;
	background: url('images/layout/login/loginbutton.png') 0px -27px;
	left: 329px;
	top: 55px;
	cursor: pointer;
}


.loginRememberMeCheckbox {
	width: 29px;
	height: 28px;
	background: url('images/layout/login/checkbox.png') 0px 0px;
	position: absolute;
	left: 430px;
	top: 21px;
	cursor: pointer;
}

.loginRememberMeCheckbox_checked {
	width: 29px;
	height: 28px;
	background: url('images/layout/login/checkbox.png') 0px -28px;
	position: absolute;
	left: 430px;
	top: 21px;
	cursor: pointer;
}

.topMenuDiv {
	height: 61px;
	background-image: url('images/layout/menugradient.png');
	position: relative;
	font-size: 24px;
	font-family: 'Aldrich', verdana;
	color: white;
	display: block;
	padding: 0px 10px;
	text-align: center;
}

.topMenuDiv a {
	color: white;
	text-decoration: none;
}

.topMenuDiv a:hover {
	color: silver;
	text-decoration: none;
}

.menuSeparator {
	width: 1px;
	height: 40px;
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
	background-image: url('images/layout/menuseparator.png');
	background-repeat: no-repeat;
	display: inline-block;
}


.leftMenuDiv {
	width: 160px;
	float: left;
}

.leftMenuTitle {
	width: 155px;
	height: 20px;
	background-image: url('images/layout/leftmenu-titlebg.png');
	padding-left: 5px;
	font-size: 12px;
	font-weight: bold;
	font-family: verdana, san-serif;
	line-height: 20px;
	color: white;
	margin-bottom: 5px;
}

.rightMenuTitle {
	width: 155px;
	height: 20px;
	background-image: url('images/layout/rightmenu-titlebg.png');
	padding-right: 5px;
	font-size: 12px;
	font-weight: bold;
	font-family: verdana, san-serif;
	line-height: 20px;
	color: white;
	text-align: right;
	margin-bottom: 5px;
}

.mainSiteContentDiv {
	min-width: 670px;
	margin-left: 160px;
	margin-right: 160px;
	padding: 5px 15px;
}

.rightMenuDiv {
	width: 160px;
	float: right;
}

.menuLinks {
	padding-left: 10px;
}

.gradientBox {
	height: 20px;
	background-image: url("timegradient.png");
	border: solid #0050b3 1px;
}

.fireIceMemberPic img {
	border: solid black 1px;
}

/* BTCS4.css Changes */

.dottedLine, .dashedLine, .solidLine {
	border-color: white;	
}

.clocksDiv .formTitle {
	background-image: url("timegradient.png");
	border: solid #0050b3 1px;
}

.breadCrumbTitle {
	font-family: 'Aldrich', verdana, sans-serif;	
}

.shoutBox {
	padding: 3px;	
	border: solid #606060 1px;
}