html {
	padding: 0px;
	margin: 0px;
	height: 100%;
}

body {
	
	background-color: #100000;
	padding: 0px;
	margin: 0px;
	height: 100%;
	font-size: 11px;
	color: white;
	font-family: verdana, sans-serif;
}

a {
	color: pink;
	text-decoration: none;
}

a:hover {
	color: #ff98aa;
	text-decoration: underline;
}

.checkerBoardBG {
	width: 990px;
	height: 720px;
	position: absolute;
	margin-left: -495px;
	left: 50%;
	top: 0px;
	background-image: url('images/layout/checkerboard-bg.png');
}


.menuBarDiv {
	min-width: 990px;
	width: 100%;
	height: 46px;
	padding: 0px;
	left: 0px;
	top: 175px;
	position: absolute;
	background-image: url('images/layout/menubar.png');
}

.menuBarInnerDiv {
	width: 924px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.menuBarItem {
	width: 154px;
	height: 40px;
	float: left;
	text-align: center;
	padding-top: 3px;
	margin-top: 1px;
}

.menuBarItem:hover {
	width: 154px;
	background-image: url('images/layout/menuhover3.png');
	cursor: pointer;
}

.menuNewsIMG {
	background: url('images/layout/menutext.png') 0px 0px;
	width: 45px;
	height: 12px;
	margin-top: 14px;
}

.menuMembersIMG {
	background: url('images/layout/menutext.png') -45px 0px;
	width: 76px;
	height: 12px;
	margin-top: 14px;
}


.menuTournamentsIMG {
	background: url('images/layout/menutext.png') -121px 0px;
	width: 116px;
	height: 12px;
	margin-top: 14px;
}


.menuSquadsIMG {
	background: url('images/layout/menutext.png') -237px 0px;
	width: 61px;
	height: 12px;
	margin-top: 14px;
}

.menuEventsIMG {
	background: url('images/layout/menutext.png') -298px 0px;
	width: 57px;
	height: 12px;
	margin-top: 14px;
}

.menuForumIMG {
	background: url('images/layout/menutext.png') -355px 0px;
	width: 53px;
	height: 12px;
	margin-top: 14px;
}


.menuItemHover {
	width: 154px;
	height: 44px;
	background-image: url('images/layout/menuhover.png');
	position: absolute;
	top: 1px;
	left: 0px;
	
}



.mainSiteDiv {
	width: 90%;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	min-width: 990px;
	margin-bottom: -60px;

}

.push {
	height: 60px;
	position: relative;	
}


.footerDiv {
	height: 60px;
	width: 100%;
	padding: 0px;
	margin: 0px;
	text-align: center;
	color: white;
	font-size: 10px;
	position: relative;
	font-family: 'Carrois Gothic SC', verdana, sans-serif;

}

.logoDiv {
	width: 956px;
	height: 132px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	
}


.mainMenuIMG {
	width: 160px;
	height: 20px;
	background: url('images/layout/menutitles.png') 0px 0px;
}

.topPlayersIMG {
	width: 160px;
	height: 20px;
	background: url('images/layout/menutitles.png') -160px 0px;
}

.shoutBoxIMG {
	width: 160px;
	height: 20px;
	background: url('images/layout/menutitles.png') -320px 0px;
}

.logInIMG {
	width: 160px;
	height: 20px;
	background: url('images/layout/menutitles.png') -480px 0px;
}

.loggedInIMG {
	width: 160px;
	height: 20px;
	background: url('images/layout/menutitles.png') -640px 0px;
}

.newMembersIMG {
	width: 160px;
	height: 20px;
	background: url('images/layout/menutitles.png') -800px 0px;
}

.forumActivityIMG {
	width: 160px;
	height: 20px;
	background: url('images/layout/menutitles.png') -960px 0px;
}

.contentTable {
	position: relative;
	width: 100%;
	border: 0px;
	border-spacing: 0px;
	padding: 0px;
	margin: 0px;
	margin-top: 100px;
	margin-bottom: 20px;
	
}

.contentTable .topLeft {
	height: 25px;
	width: 25px;
	background-image: url('images/layout/contentbox/topleft.png');
	padding: 0px;
}

.contentTable .top {
	height: 25px;
	background-image: url('images/layout/contentbox/top.png');
	padding: 0px;
}

.contentTable .topRight {
	height: 25px;
	width: 25px;
	background-image: url('images/layout/contentbox/topright.png');
	padding: 0px;
}

.contentTable .left {
	width: 25px;
	background-image: url('images/layout/contentbox/left.png');
	padding: 0px;
}

.contentTable .right {
	width: 25px;
	background-image: url('images/layout/contentbox/right.png');
	padding: 0px;
}

.contentTable .mainContent {
	background-image: url('images/layout/contentbox/bg.png');
	padding: 0px;
	min-height: 100%;
}

.contentTable .bottomLeft {
	height: 25px;
	width: 25px;
	background-image: url('images/layout/contentbox/bottomleft.png');
	padding: 0px;
}

.contentTable .bottom {
	height: 25px;
	background-image: url('images/layout/contentbox/bottom.png');
	padding: 0px;
}

.contentTable .bottomRight {
	height: 25px;
	width: 25px;
	background-image: url('images/layout/contentbox/bottomright.png');
	padding: 0px;
}


.innerContentTable {
	width: 100%;
	padding: 0px;
	margin: 0px;
	border-spacing: 0px;
	border: 0px;
}

.innerContentTable .menuColumn {
	width: 160px;
}

.innerContentTable .menuColumn .menuLinks {
	padding-left: 8px;
	font-family: verdana, sans-serif;
	margin-bottom: 20px;
	margin-top: 5px;
}

.loginTextbox {
	font-family: font-family: verdana, sans-serif;
	border: solid #860000 1px;
	color: black;
	font-size: 11px;
}

.gradientBox {
	height: 20px;
	background-image: url("gradient.png");
	border: solid #680000 1px;
}


/* Custom BTCS4.css */

.dottedLine, .dashedLine, .solidLine {
	border-color: darkred;
}

.menusNewestMembersWrapper, .menusForumActivityWrapper {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 5px;
	margin-bottom: 20px;
}

.clocksDiv {
	width: 96%;
}

.shoutBox {
	padding: 3px;
	border: solid #250000 1px;
}