html {
	margin: 0px;
	padding: 0px;
	height: 100%;	
}

body {

	background-image: url('images/layout/character-bg2.png');
	background-attachment: fixed;
	background-color: #2590cf;
	background-repeat: no-repeat;
	background-position: center top;	
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: verdana, sans-serif;
	font-size: 11px;
	color: white;
}

a {
	color: #c0e8ff;
	text-decoration: none;	
}

a:hover {
	color: #66c6ff;
	text-decoration: underline;	
}

.patternOverlay {
	position: fixed;
	top: 0px;
	left: 0px;
	min-width: 100%;
	min-height: 100%;
	background-image: url('images/layout/pattern-bg.png');
}


.wrapper {
	width: 100%;
	min-width: 1010px;
	margin: 0px;
	padding: 0px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin-bottom: -60px;
	position: relative;	
}

.push {
	height: 60px;
	position: relative;

}

.footerDiv {
	height: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
	text-align: center;
	color: white;
	font-family: verdana, sans-serif;
	font-size: 12px;
}


.headerDiv {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 85%;
	height: 230px;
	min-width: 1010px;
}

.logoDiv {
	position: absolute;
	top: 50px;
	left: 50px;
}

.loginAreaDiv {
	position: absolute;
	top: 0px;
	right: 50px;
	width: 367px;
	height: 220px;
	background-image: url('images/layout/login-area-bg.png');	
}

.loginAreaUsername {
	position: absolute;
	top: 75px;
	left: 40px;
	width: 75px;
	height: 14px;
	background: url('images/layout/login-text.png') 0px 0px;
}

.loginAreaPassword {
	position: absolute;
	top: 104px;
	left: 40px;
	width: 77px;
	height: 14px;
	background: url('images/layout/login-text.png') -75px 0px;
}


.loginAreaUsernameText {
	position: absolute;
	top: 72px;
	left: 125px;	
}

.loginAreaPasswordText {
	position: absolute;
	top: 101px;
	left: 125px;	
}

.loginAreaRememberMe {
	position: absolute;
	top: 136px;
	left: 125px;
	background: url('images/layout/login-text.png') 0px -14px;
	width: 73px;
	height: 10px;
}

.loginAreaCheckbox {
	position: absolute;
	top: 129px;
	left: 208px;
	width: 22px;
	height: 22px;
	background: url('images/layout/login-checkbox.png') 0px 0px;
	cursor: pointer;
}

.loginAreaCheckbox_checked {
	position: absolute;
	top: 129px;
	left: 208px;
	width: 22px;
	height: 22px;
	background: url('images/layout/login-checkbox.png') 0px -22px;
	cursor: pointer;
}


.loginAreaTextbox {
	background-color: rgba(255,255,255,0);
	background-image: url('images/layout/logintextboxbg.png');
	width: 194px;
	height: 14px;
	font-size: 12px;
	border: 0px;
	color: white;
	font-family: verdana;
	padding: 3px;
}


.loginAreaButton {
	background: url('images/layout/loginbutton.png') 0px 0px;
	width: 52px;
	height: 27px;
	position: absolute;
	top: 127px;
	left: 240px;
}


.loginAreaButton:hover {
	background: url('images/layout/loginbutton.png') 0px -27px;
	width: 52px;
	height: 27px;
	position: absolute;
	top: 127px;
	left: 240px;
	cursor: pointer;
}


.topMenuDiv {
	position: absolute;
	width: 100%;
	height: 69px;
	bottom: 0px;
	left: 0px;

}

.topMenuLeftBG {
	width: 420px;
	height: 69px;
	position: absolute;
	top: 0px;
	left: 0px;
	background-image: url('images/layout/topmenu-left.png');	
}

.topMenuRightBG {
	width: 420px;
	height: 69px;
	position: absolute;
	top: 0px;
	right: 0px;
	background-image: url('images/layout/topmenu-right.png');
}

.topMenuBG {
	background-image: url('images/layout/topmenu-bg.png');
	height: 69px;
	position: relative;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

.topMenuItemsWrapper {
	position: absolute;
	top: 23px;
	left: 0px;
	width: 100%;
	text-align: center;
}


.topMenu_News {
	background: url('images/layout/topmenu-titles.png') 0px 0px;
	width: 62px;
	height: 24px;
	margin-right: 50px;
}

.topMenu_News:hover {
	background: url('images/layout/topmenu-titles.png') 0px -24px;
	width: 62px;
	height: 24px;
	margin-right: 50px;
}

.topMenu_Members {
	background: url('images/layout/topmenu-titles.png') -62px 0px;
	width: 110px;
	height: 24px;
	margin-right: 50px;
}

.topMenu_Members:hover {
	background: url('images/layout/topmenu-titles.png') -62px -24px;
	width: 110px;
	height: 24px;
	margin-right: 50px;
}

.topMenu_Tournaments {
	background: url('images/layout/topmenu-titles.png') -172px 0px;
	width: 178px;
	height: 24px;
	margin-right: 50px;
}

.topMenu_Tournaments:hover {
	background: url('images/layout/topmenu-titles.png') -172px -24px;
	width: 178px;
	height: 24px;
	margin-right: 50px;
}

.topMenu_Squads {
	background: url('images/layout/topmenu-titles.png') -350px 0px;
	width: 90px;
	height: 24px;
	margin-right: 50px;
}

.topMenu_Squads:hover {
	background: url('images/layout/topmenu-titles.png') -350px -24px;
	width: 90px;
	height: 24px;
	margin-right: 50px;
}

.topMenu_Events {
	background: url('images/layout/topmenu-titles.png') -440px 0px;
	width: 90px;
	height: 24px;
	margin-right: 50px;
}

.topMenu_Events:hover {
	background: url('images/layout/topmenu-titles.png') -440px -24px;
	width: 90px;
	height: 24px;
	margin-right: 50px;
}


.topMenu_Forum {
	background: url('images/layout/topmenu-titles.png') -530px 0px;
	width: 86px;
	height: 24px;
}

.topMenu_Forum:hover {
	background: url('images/layout/topmenu-titles.png') -530px -24px;
	width: 86px;
	height: 24px;
}

.mainSiteContentDiv {
	
	width: 81%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	background-color: rgba(107,106,101,.6);
	min-width: 960px;
	box-shadow: 0px 1px 3px 2px rgba(166,130,105,.70);
	margin-bottom: 20px;
	overflow: auto;
	
}


.leftMenuSection {
	float: left;
	min-height: 200px;
	width: 153px;
	margin-bottom: 20px;
	padding: 10px;
}

.rightMenuSection {
	float: right;
	min-height: 200px;
	width: 153px;
	margin-bottom: 20px;
	padding: 10px;
}

.mainSiteSection {
	min-width: 625px;
	margin-left: 165px;
	margin-right: 165px;
	padding: 5px;
}


.sideMenu_mainMenu {
	width: 153px;
	height: 37px;
	background: url('images/layout/sidemenu-titles.png') 0px 0px;
	position: relative;
	margin-bottom: 10px;
}


.sideMenu_topPlayers {
	width: 153px;
	height: 37px;
	background: url('images/layout/sidemenu-titles.png') -153px 0px;
	position: relative;
	margin-bottom: 10px;
}


.sideMenu_forumActivity {
	width: 153px;
	height: 37px;
	background: url('images/layout/sidemenu-titles.png') -306px 0px;
	position: relative;
	margin-bottom: 10px;
}


.sideMenu_shoutBox {
	width: 153px;
	height: 37px;
	background: url('images/layout/sidemenu-titles.png') -459px 0px;
	position: relative;
	margin-bottom: 10px;
}

.sideMenu_newMembers {
	width: 153px;
	height: 37px;
	background: url('images/layout/sidemenu-titles.png') -612px 0px;
	position: relative;
	margin-bottom: 10px;
}

.sideMenu_downloads {
	width: 153px;
	height: 37px;
	background: url('images/layout/sidemenu-titles.png') -765px 0px;
	position: relative;
	margin-bottom: 10px;
}

.menuLinks {	
	padding-left: 10px;
}

.tf2BlueProfilePic {
	float: left; 
	width: 75px; 
	height: 75px; 
	margin-top: 5px;
}

.tf2BlueProfilePic img {
	border: solid black 1px;
	width: 53px;
	height: 75px;
}

/* Custom BTCS4.css */

.shoutBox {
	border: solid #a68269 1px;
	padding: 3px;
}