html {
	
	min-width: 1000px;
	height: 100%;
	margin: 0px;
	padding: 0px;
	
}


body {
	
	background-image: url('images/layout/bg.png');
	min-width: 100%;
	margin: 0px;
	padding: 0px;
	color: white;
	font-family: 'Noto Sans', verdana, sans-serif;
	font-size: 12px;
	height: 100%;
}


a {
	color: #b9c7e1;
	text-decoration: none;
}

a:hover {
	color: #6881b1;
	text-decoration: underline;
}

img {
	border: 0px;
}


.headerDiv {
	width: 90%;
	min-width: 1000px;
	position: relative;
	height: 144px;
	margin-left: auto;
	margin-right: auto;
}

.wrapper {
	height: 100%;
	min-height: 100%;
	height: auto !important;
	margin-bottom: -75px;
	margin-left: auto;
	margin-right: auto;
}

.mainSiteDiv {
	position: relative;
	width: 90%;
	min-width: 1075px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
}


.quickLinksDiv {
	
	position: relative;
	width: 100%;
	height: 38px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	
}

.quickLinks img {
	border: 0px;
}


.quickLinksDiv .homeButton {
	background: url('images/layout/quicklinks.png') 0px 0px;
	width: 133px;
	height: 38px;
	margin-right: 25px;
}

.quickLinksDiv .homeButton:hover {
	background: url('images/layout/quicklinks.png') 0px -38px;
	width: 133px;
	height: 38px;
	margin-right: 25px;
}


.quickLinksDiv .membersButton {
	background: url('images/layout/quicklinks.png') -133px 0px;
	width: 133px;
	height: 38px;
	margin-right: 25px;
}

.quickLinksDiv .membersButton:hover {
	background: url('images/layout/quicklinks.png') -133px -38px;
	width: 133px;
	height: 38px;
	margin-right: 25px;
}


.quickLinksDiv .tournamentsButton {
	background: url('images/layout/quicklinks.png') -266px 0px;
	width: 133px;
	height: 38px;
	margin-right: 25px;
}

.quickLinksDiv .tournamentsButton:hover {
	background: url('images/layout/quicklinks.png') -266px -38px;
	width: 133px;
	height: 38px;
	margin-right: 25px;
}


.quickLinksDiv .squadsButton {
	background: url('images/layout/quicklinks.png') -399px 0px;
	width: 133px;
	height: 38px;
	margin-right: 25px;
}

.quickLinksDiv .squadsButton:hover {
	background: url('images/layout/quicklinks.png') -399px -38px;
	width: 133px;
	height: 38px;
	margin-right: 25px;
}


.quickLinksDiv .newsButton {
	background: url('images/layout/quicklinks.png') -532px 0px;
	width: 133px;
	height: 38px;
	margin-right: 25px;
}

.quickLinksDiv .newsButton:hover {
	background: url('images/layout/quicklinks.png') -532px -38px;
	width: 133px;
	height: 38px;
	margin-right: 25px;
}

.quickLinksDiv .eventsButton {
	background: url('images/layout/quicklinks.png') -665px 0px;
	width: 133px;
	height: 38px;
	margin-right: 25px;
}

.quickLinksDiv .eventsButton:hover {
	background: url('images/layout/quicklinks.png') -665px -38px;
	width: 133px;
	height: 38px;
	margin-right: 25px;
}


.quickLinksDiv .forumButton {
	background: url('images/layout/quicklinks.png') -798px 0px;
	width: 133px;
	height: 38px;
}

.quickLinksDiv .forumButton:hover {
	background: url('images/layout/quicklinks.png') -798px -38px;
	width: 133px;
	height: 38px;
}


.logo {
	
	position: absolute;
	top: 0px;
	left: 0px;
	width: 483px;
	height: 144px;
	
}


.characterBG {
	position: fixed;
	_position: absolute;
	z-index: -1;
	width: 674px;
	height: 592px;
	top: 0px;
	right: 0px;
	background-image: url('images/layout/character-bg.png');
	
}

.effectBG {
	position: absolute;
	z-index: -1;
	width: 428px;
	height: 213px;
	background-image: url('images/layout/effect-bg.png');
	background-repeat: no-repeat;
	top: 0px;
	left: 510px;
}


.layoutLine {
	position: absolute;
	top: 85px;
	left: 0px;
	width: 100%;
	min-width: 1250px;
	background-image: url('images/layout/layoutline.png');
	background-repeat: repeat-x;
	height: 9px;
	z-index: -1;
}



.loginDiv {
	position: absolute;
	width: 252px;
	height: 116px;
	padding: 0px;
	padding-top: 20px;
	padding-left: 30px;
	top: 0px;
	right: 50px;
	background-image: url('images/layout/login/bg.png');
	background-repeat: no-repeat;
	font-family: 'Maven Pro', verdana, sans-serif;
	font-size: 11px;
	color: white;
}


.loginDiv .loggedInIMG {
	position: relative;
	top: -15px;
	margin: 0px;
	margin-left: -13px;
	width: 254px;
	height: 26px;
	background-image: url('images/layout/login/loggedin.png');
	background-repeat: no-repeat;
}

.loginDiv .loggedInInfo {
	position: relative;
	top: -15px;
	margin: 0px;
	font-size: 11px;
	font-family: verdana, sans-serif;
	color: white;
}

.loginDiv form {
	margin: 0px;
	padding: 0x;
}


.loginDiv .usernameIMG {
	background: url('images/layout/login/logintext_sprite.png') 0px 0px;
	height: 10px;
	width: 66px;
	padding: 0px;
	margin: 0px;
	margin-right: 14px;
	background-repeat: no-repeat;
	float: left;
}

.loginDiv .passwordIMG {
	background: url('images/layout/login/logintext_sprite.png') 0px -10px;
	height: 10px;
	width: 72px;
	padding: 0px;
	margin: 0px;
	margin-right: 8px;
	margin-top: 15px;
	background-repeat: no-repeat;
	float: left;
}

.loginDiv .rememberMeIMG {
	background: url('images/layout/login/logintext_sprite.png') 0px -20px;
	height: 9px;
	width: 88px;
	padding: 0px;
	margin: 15px 10px 0px 35px;
	float: left;
}

.loginDiv .rememberMeCheckbox {
	background: url('images/layout/login/checkmark_sprite.png') 0px -22px;
	height: 22px;
	width: 22px;
	float: left;
	margin-top: 6px;
	padding: 0px;
	cursor: pointer;
}



.loginDiv .rememberMeCheckbox_clicked {
	background: url('images/layout/login/checkmark_sprite.png') 0px 0px;
	height: 22px;
	width: 22px;
	float: left;
	margin-top: 6px;
	padding: 0px;
	cursor: pointer;
}

.loginDiv .loginButton {
	background: url('images/layout/login/loginbutton_sprite.png') 0px 0px;
	width: 58px;
	height: 38px;
	cursor: pointer;
	float: left;
	padding: 0px;
	margin-left: 15px;
}

.loginDiv .loginButton:hover {
	background: url('images/layout/login/loginbutton_sprite.png') 0px -38px;
	width: 58px;
	height: 38px;
	cursor: pointer;
	float: left;
	padding: 0px;
	margin-left: 15px;
}


.loginTextbox {
	float: left;
	width: 150px;
	height: 20px;
	margin: 0px;
	padding: 0px;
}

.loginTextbox .textBox {
	margin-top: -5px;
	width: 144px;
	height: 14px;
	border: 0px;
	font-family: 'Noto Sans', verdana, sans-serif;
	font-size: 14px;
	color: gray;
	background-image: url('images/layout/login/textbox-overlay.png');
	padding: 3px;
}


.loginTextbox .overlay {
	background-image: url('images')
}








.mainContentTable {

	width: 100%;
	padding: 0px;
	border-spacing: 0px;
	margin: 0px;
	top: 155px;
	margin-bottom: 20px;

}

.mainContentTable .mainContent {
	background-image: url('images/layout/contentbox/bg.png');
}

.mainContentTable .top-left {
	width: 20px;
	height: 20px;
	background-image: url('images/layout/contentbox/topleft.png');
	background-repeat: no-repeat;
	padding: 0px;
}

.mainContentTable .top-right {
	width: 20px;
	height: 20px;
	background-image: url('images/layout/contentbox/topright.png');
	background-repeat: no-repeat;
	padding: 0px;
}


.mainContentTable .bottom-left {
	width: 20px;
	height: 20px;
	background-image: url('images/layout/contentbox/bottomleft.png');
	background-repeat: no-repeat;
	padding: 0px;
}

.mainContentTable .bottom-right {
	width: 20px;
	height: 20px;
	background-image: url('images/layout/contentbox/bottomright.png');
	background-repeat: no-repeat;
	padding: 0px;
}

.mainContentTable .left {
	width: 20px;
	background-image: url('images/layout/contentbox/left.png');
	background-repeat: repeat-y;
	padding: 0px;
}

.mainContentTable .right {
	width: 20px;
	background-image: url('images/layout/contentbox/right.png');
	background-repeat: repeat-y;
	padding: 0px;
}

.mainContentTable .top {
	height: 20px;
	background-image: url('images/layout/contentbox/top.png');
	background-repeat: repeat-x;
	padding: 0px;
}

.mainContentTable .bottom {
	height: 20px;
	background-image: url('images/layout/contentbox/bottom.png');
	background-repeat: repeat-x;
	padding: 0px;
}


.innerContentTable {
	width: 100%;
	padding: 0px;
	border-spacing: 0px;
	margin: 0px;
	font-size: 11px;
	font-family: verdana;
	color: white;


}

.innerContentTable .menuColumn {
	width: 165px;
	padding: 0px;
	margin: 0px;
	
}


.navigationMenu {
	background: url('images/layout/menutitles.png') 0px 0px;
	width: 165px;
	height: 26px;
	margin-bottom: 0px;
}

.topplayersMenu {
	background: url('images/layout/menutitles.png') 0px -26px;
	width: 165px;
	height: 26px;
	margin-bottom: 0px;
	margin-top: 20px;
}

.shoutboxMenu {
	background: url('images/layout/menutitles.png') 0px -52px;
	width: 165px;
	height: 26px;
	margin-bottom: 0px;
}

.forumActivityMenu {
	background: url('images/layout/menutitles.png') 0px -78px;
	width: 165px;
	height: 26px;
	margin-bottom: 0px;
}

.newMembersMenu {
	background: url('images/layout/menutitles.png') 0px -104px;
	width: 165px;
	height: 26px;
	margin-bottom: 0px;
}

.menuLinks {
	padding-left: 5px;
	font-family: 'Noto Sans'
}


.push {
	height:  75px;
	position: relative;
}

.footerDiv {
	position: relative;
	background-image: url('images/layout/footer-bg.png');
	height: 50px;
	padding: 0px;
	padding-top: 25px;
	margin: 0px;
	min-width: 100%;
	position: relative;
	text-align: center;
	font-size: 11px;

}

.gradientBox {
	height: 20px;
	background-image: url("gradient.png");
	border: solid #121f45 1px;
}

/* Custom BTCS4.css */

.dashedLine, .dottedLine, .solidLine {
	border-color: white;	
}

.shoutBox {
	border: solid #121f45 1px;	
}