body {
	background-color: black;
	font-family: verdana;
	color: white;
	font-size: 12px;
}

.mainSiteBox {
	width: 970px;
	position: relative;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
}

.logoDiv {
	border: solid darkred 1px;
	padding: 0px;
	width: 970px;
	height: 140px;
	margin: 0px;
	margin-bottom: 10px;
}

.leftNavContainer {
	position: absolute;
	padding: 0px;
	margin: 0px;
	top: 145px;
	left: 0px;
	width: 150px;
}

.leftNavDiv {
	position: relative;
	width: 146px;
	padding: 2px;
	border: solid darkred 1px;
	margin: 0px;
}

.navMenuTitle {
	background-image: url('images/red/gradient.png');
	height: 18px;
	padding: 0px;
	font-size: 12px;
	font-weight: bold;
	width: 146px;
	text-align: center;
	margin: 0px;
	border-bottom: solid darkred 1px;
}

.navMenuLinks {
	padding-left: 3px;
	font-size: 11px;
}