html {
	height: 100%;
	padding: 0px;
	margin: 0px;	
}
	
body {
	background-color: #0c0c0c;
	height: 100%;
	margin: 0px;
	padding: 0px;
	color: white;
	font-family: verdana, sans-serif;
	font-size: 11px;
}

a {
	color: rgba(255,255,255,.7);
	text-decoration: none;	
}

a:hover {
	color: rgba(255,255,255,.5);
}

.wrapper {
	width: 100%;
	min-width: 990px;
	margin: 0px;
	padding: 0px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin-bottom: -70px;
	position: relative;
	
}

.push {
	height: 70px;
	position: relative;

}

.footerDiv {
	height: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
	width: 100%;
	text-align: center;
	color: white;
	font-family: verdana, sans-serif;
	font-size: 10px;
}


.patternBG {
	background-image: url('images/layout/bg.png');
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: -99;
}

.topLeftCharacter {
	background-image: url('images/layout/top-left-character.png');
	width: 462px;
	height: 381px;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: -100;
}

.bottomLeftCharacter {
	background-image: url('images/layout/bottom-left-character.png');
	width: 435px;
	height: 476px;
	position: fixed;
	bottom: 0px;
	left: 0px;
	z-index: -100;
}

.topRightCharacter {
	background-image: url('images/layout/top-right-character.png');
	width: 416px;
	height: 295px;
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: -100;
}

.bottomRightCharacter {
	background-image: url('images/layout/bottom-right-character.png');
	width: 333px;
	height: 459px;
	position: fixed;
	bottom: 0px;
	right: 0px;
	z-index: -100;
}


.headerDiv {
	position: relative;
	width: 88%;
	min-width: 990px;
	height: 155px;
	text-align: center;
	margin: 0px auto;
}


.topMenuDiv {
	position: relative;
	width: 88%;
	min-width: 990px;
	height: 50px;
	background-image: url('images/layout/camoribbon.png');
	background-repeat: repeat-x;
	margin: 0px auto;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top: solid #5d5d5d 1px;
	border-bottom: solid #5d5d5d 1px;
	box-shadow: 0px -3px 5px 0px rgba(0,0,0,.8);
}

.topMenuLeftGradient {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0px;
	left: 0px;
	background: linear-gradient(to right, rgba(0,0,0,.3), rgba(0,0,0,0));
}

.topMenuRightGradient {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0px;
	right: 0px;
	background: linear-gradient(to left, rgba(0,0,0,.3), rgba(0,0,0,0));
}

.topMenuLeftLineGradient {
	width: 3px;
	height: 1px;
	position: absolute;
	bottom: -1px;
	left: 0px;
	background: linear-gradient(to right, rgba(54,56,50,1), rgba(64,65,63,.20));
}

.topMenuRightLineGradient {
	width: 3px;
	height: 1px;
	position: absolute;
	bottom: -1px;
	right: 0px;
	background: linear-gradient(to left, rgba(54,56,50,1), rgba(64,65,63,.20));
}

.topMenuBottomLeft {
	width: 9px;
	height: 9px;
	position: absolute;
	bottom: -10px;
	left: 0px;
	background: url('images/layout/ribbon-bottom-triangle.png') 0px 0px;

}

.topMenuBottomRight {
	width: 9px;
	height: 9px;
	position: absolute;
	bottom: -10px;
	right: 0px;
	background: url('images/layout/ribbon-bottom-triangle.png') -9px 0px;
	
}

.topMenuTopDashes {
	position: absolute;
	top: 2px;
	width: 100%;
	height: 1px;
	background-image: url('images/layout/ribbondash.png');	
}

.topMenuBottomDashes {
	position: absolute;
	bottom: 2px;
	width: 100%;
	height: 1px;
	background-image: url('images/layout/ribbondash.png');	
}

.topMenuItemsDiv {
	position: relative;
	width: 90%;
	margin: 0px auto;
	padding-top: 12px;
	text-align: center;
}

.topMenuItem {
	display: inline-block;
	padding: 0px 35px;
	font-family: 'Titillium Web', verdana, sans-serif;
	color: white;
	font-size: 18px;
	font-weight: bold;
}

.topMenuItem a {
	color: white;	
}

.topMenuItem a:hover {
	text-shadow: 0px 0px 30px rgba(0,0,0,1);
}

.bodyDiv {
	position: relative;
	margin: 0px auto;
	width: 88%;
	min-width: 990px;
}

.bodyContentDiv {
	margin: 0px 9px;
	padding: 5px;
	padding-top: 15px;
	min-height: 800px;
	background-color: rgba(0,0,0,.5);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom: solid rgba(93,93,93,.2) 1px;
	box-shadow: 0px 1px 5px 0px rgba(255,255,255,.03);
}

.leftMenuDiv {
	float: left;
	width: 188px;
	min-height: 200px;
}

.rightMenuDiv {
	float: right;
	width: 188px;
	min-height: 200px;
}

.centerContentDiv {
	margin-left: 190px;
	margin-right: 190px;
	min-height: 200px;
	padding: 10px;
	padding-top: 2px;
}


.menuTitle {
	font-family: 'Titillium Web', verdana, sans-serif;
	color: white;
	font-weight: bold;
	font-size: 16px;
	background-repeat: no-repeat;
	height: 31px;
	padding-top: 6px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.leftMenuTitle {
	background: url('images/layout/menucatbg.png') 0px 0px;
	width: 140px;
	padding-left: 48px;

}

.rightMenuTitle {
	background: url('images/layout/menucatbg.png') 0px -37px;
	width: 130px;
	padding-left: 18px;
	padding-right: 40px;
}

.menuItemsDiv {
	width: 170px;
	padding: 10px;
	margin-bottom: 10px;
}


.bottomPageGradient {
	width: 100%;
	position: fixed;
	height: 150px;
	z-index: -98;
	bottom: 0px;
	left: 0px;
	background: linear-gradient(rgba(12,12,12,0), rgba(0,0,0,1));
}


.camoBG {
	position: absolute;
	left: 50%;
	margin-left: -300px;
	top: -100px;
	background-image: url('images/layout/camobg1.png');
	background-repeat: no-repeat;
	z-index: -100;
	width: 600px;
	height: 300px;
}

.loginTextbox {
	border: solid #5d5d5d 1px;
	font-size: 12px;
	padding: 3px;
	font-family: 'Titillium Web', verdana, sans-serif;
	width: 90%;
	border-radius: 3px;
}

.loginSubmitButton {
	border-radius: 3px;
	background-color: rgba(59,59,59,.5);
	color: white;
	font-family: 'Titillium Web', verdana, sans-serif;
	padding: 5px 20px;
	border: solid rgba(93,93,93,1) 1px;
	cursor: pointer;
}

.loginSubmitButton:hover {
	background-color: rgba(59,59,59,.75);
	box-shadow: 0px 0px 5px 0px rgba(59, 59, 59, .75);
}


.loggedInMenuList {
	padding: 0px;
	padding-left: 15px;
	margin: 0px;	
}

.loggedInSection p {
	margin: 0px; 
	padding-left: 2px; 
	margin-bottom: 5px	
}

.loginFormSection p {
	margin: 0px;
	margin-bottom: 5px;
}

.clocksDiv {
	margin: 0px auto;
	width: 98%;
	margin-bottom: 20px;
}