html {
	height: 100%;
	margin: 0px;
}

body {
	background-color: white;
	height: 100%;
	margin: 0px;
	padding: 0px;
	color: black;
	font-family: verdana, sans-serif;
	font-size: 11px;
	
}

form {
	padding: 0px;
	margin: 0px;
}

a {
	color: #ac4400;
	text-decoration: none;
}

a:hover {
	color: #755020;
	text-decoration: underline;
}


.wrapper {
	min-height: 900px;
	height: auto !important;
	height: 100%;
	margin: 0px auto -75px;
}

.push {
	height: 75px;
}

.footerDiv {
	
	height: 50px;
	width: 100%;
	text-align: center;
	padding-top: 25px;
	font-weight: bold;
	color: black;
	font-size: 11px;
	font-family: 'Overlock SC', verdana, sans-serif;
	
}

.footerDiv a {
	color: #5b3300;
}

.footerDiv a:hover {
	color: #755020;
}

.main-character-bg {
	width: 100%;
	height: 100%;
	background-image: url('images/layout/environment-bg.png');
	background-repeat: no-repeat;
	position: fixed;
	background-position: center top;
	top: 0px;
	left: 0px;
	z-index: -2;
}

.top-left-character {
	width: 100%;
	height: 795px;
	background-image: url('images/layout/top-left-character.png');
	background-repeat: no-repeat;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -1;
}

.top-right-character {
	min-width: 100%;
	height: 900px;
	background-image: url('images/layout/top-right-character.png');
	background-repeat: no-repeat;
	position: absolute;
	top: 0px;
	right: 0px;
	background-position: right top;
	z-index: -1;
}



.main-character-bg-alt {
	width: 100%;
	height: 100%;
	background-image: url('images/layout/environment-bg-alt.png');
	background-repeat: no-repeat;
	position: fixed;
	background-position: center top;
	top: 0px;
	left: 0px;
	z-index: -2;
}

.top-left-character-alt {
	width: 100%;
	height: 795px;
	background-image: url('images/layout/top-left-character-alt.png');
	background-repeat: no-repeat;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -1;
}

.top-right-character-alt {
	min-width: 100%;
	min-height: 900px;
	background-image: url('images/layout/top-right-character-alt.png');
	background-repeat: no-repeat;
	position: absolute;
	top: 0px;
	right: 0px;
	background-position: right top;
	z-index: -1;
}




.top-left-grunge {
	width: 711px;
	height: 275px;
	background-image: url('images/layout/top-left-grunge.png');
	background-repeat: no-repeat;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: -1;
}


.top-right-grunge {
	width: 711px;
	height: 275px;
	background-image: url('images/layout/top-right-grunge.png');
	background-repeat: no-repeat;
	position: fixed;
	top: -50px;
	right: 0px;
	z-index: -1;
}


.pattern-bg {
	width: 100%;
	height: 100%;
	background-image: url('images/layout/patternbg.png');
	position: fixed;
	z-index: -1;
}

.topBar {
	
	height: 79px;
	min-width: 100%;
	background-image: url('images/layout/topbar.png');
	background-repeat: repeat-x;
	position: fixed;
	_position: absolute;
	top: 0px;
	left: 0px;
	z-index: 5555;
	
}

.loginSection {
	position: relative;
	width: 90%;
	height: 79px;
	margin-left: auto;
	margin-right: auto;
}

.usernameIMG {
	top: 30px;
	right: 801px;
	height: 26px;
	width: 149px;
	background: url('images/layout/logintext.png') 0px 0px;
	position: absolute;
}

.passwordIMG {
	top: 30px;
	right: 415px;
	height: 26px;
	width: 146px;
	background: url('images/layout/logintext.png') -149px 0px;
	position: absolute;
}

.rememberMeIMG {
	top: 10px;
	right: 38px;
	height: 15px;
	width: 124px;
	background: url('images/layout/logintext.png') 0px -26px;
	position: absolute;
}

.usernameTextDiv {

	top: 28px;
	right: 586px;
	width: 200px;
	position: absolute;
	height: 25px;
}

.passwordTextDiv {

	top: 28px;
	right: 200px;
	width: 200px;
	position: absolute;
	height: 25px;
}


.loginButton {
	top: 33px;
	right: 0px;
	height: 38px;
	width: 164px;
	background: url('images/layout/loginbutton.png') 0px 0px;
	position: absolute;
}

.loginButton:hover {
	top: 33px;
	right: 0px;
	height: 38px;
	width: 164px;
	background: url('images/layout/loginbutton.png') 0px -38px;
	position: absolute;
	cursor: pointer;
}


.loginTextbox {
	background: rgba(255,255,255,.3);
	font-size: 14px;
	font-family: 'Cinzel', verdana, sans-serif;
	border: 0px;
	color: white;
	height: 20px;
	width: 200px;
	padding: 3px;
}

.loggedInIMG {
	background-image: url('images/layout/loggedin.png');
	width: 215px;
	height: 44px;
	position: absolute;
	top: 18px;
	left: 0px;
}

.loggedInProfilePic {
	border: solid black 1px;
	width: 45px;
	height: 60px;
	position: absolute;
	top: 10px;
	left: 235px;
}

.loggedInMemberNameIMG {
	background: url('images/layout/accountdetails.png') 0px 0px;
	width: 109px;
	height: 12px;
	position: absolute;
	top: 10px;
	left: 295px;
}

.loggedInMemberNameText {
	width: 250px;
	height: 15px;
	position: absolute;
	top: 23px;
	left: 300px;
	font-size: 14px;
	font-family: 'Cinzel', verdana, sans-serif;
}


.loggedInRankIMG {
	background: url('images/layout/accountdetails.png') -109px 0px;
	width: 39px;
	height: 12px;
	position: absolute;
	top: 45px;
	left: 295px;
}

.loggedInRankText {
	width: 250px;
	height: 15px;
	position: absolute;
	top: 59px;
	left: 300px;
	font-size: 14px;
	font-family: 'Cinzel', verdana, sans-serif;
	color: white;
}


.loggedInMemberOptionsSection {
	width: 300px;
	position: absolute;
	top: 0px;
	right: 0px;
}

.loggedInMemberOptionsIMG {
	background-image: url('images/layout/memberoptions.png');
	position: absolute;
	top: 20px;
	left: 75px;
	width: 150px;
	height: 15px;
}

.loggedInMemberOptions {
	position: relative;
	text-align: center;
	width: 300px;
	top: 40px;
	font-family: 'Cinzel', verdana, sans-serif;
	color: white;
	font-size: 14px;
}

.topBar a {
	color: #ffedc8;
}

.topBar a:hover {
	color: #cdae70;
}

.rememberMeCheckBox {
	position: absolute;
	top: 7px;
	right: 10px;
	background: url('images/layout/remembermebox.png') 0px 0px;
	width: 19px;
	height: 19px;
	cursor: pointer;
}

.rememberMeCheckBox_Checked {
	position: absolute;
	top: 7px;
	right: 10px;
	background: url('images/layout/remembermebox.png') -19px 0px;
	width: 19px;
	height: 19px;
	cursor: pointer;
}

.headerDiv {
	width: 90%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	height: 320px;
}

.topMenuLinks {
	padding-top: 90px;
	width: 100%;
	text-align: right;
	position: relative;
	height: 25px;
}

.topMenuNews {
	background: url('images/layout/topmenutext.png') 0px 0px;
	width: 48px;
	height: 17px;
	border: 0px;
	margin: 0px 10px;
}

.topMenuNews:hover {
	background: url('images/layout/topmenutext.png') 0px -17px;
	width: 48px;
	height: 17px;
	border: 0px;
	margin: 0px 10px;
}


.topMenuMembers {
	background: url('images/layout/topmenutext.png') -48px 0px;
	width: 83px;
	height: 17px;
	border: 0px;
	margin: 0px 10px;
}

.topMenuMembers:hover {
	background: url('images/layout/topmenutext.png') -48px -17px;
	width: 83px;
	height: 17px;
	border: 0px;
	margin: 0px 10px;
}


.topMenuTournaments {
	background: url('images/layout/topmenutext.png') -131px 0px;
	width: 128px;
	height: 17px;
	border: 0px;
	margin: 0px 10px;
}

.topMenuTournaments:hover {
	background: url('images/layout/topmenutext.png') -131px -17px;
	width: 128px;
	height: 17px;
	border: 0px;
	margin: 0px 10px;
}


.topMenuSquads {
	background: url('images/layout/topmenutext.png') -259px 0px;
	width: 66px;
	height: 17px;
	border: 0px;
	margin: 0px 10px;
}

.topMenuSquads:hover {
	background: url('images/layout/topmenutext.png') -259px -17px;
	width: 66px;
	height: 17px;
	border: 0px;
	margin: 0px 10px;
}


.topMenuEvents {
	background: url('images/layout/topmenutext.png') -325px 0px;
	width: 67px;
	height: 17px;
	border: 0px;
	margin: 0px 10px;
}

.topMenuEvents:hover {
	background: url('images/layout/topmenutext.png') -325px -17px;
	width: 67px;
	height: 17px;
	border: 0px;
	margin: 0px 10px;
}


.topMenuForum {
	background: url('images/layout/topmenutext.png') -392px 0px;
	width: 62px;
	height: 17px;
	border: 0px;
	margin: 0px 10px;
}

.topMenuForum:hover {
	background: url('images/layout/topmenutext.png') -392px -17px;
	width: 62px;
	height: 17px;
	border: 0px;
	margin: 0px 10px;
}



.logoDiv {
	width: 815px;
	height: 154px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
}

.logoLightDiv {
	width: 467px;
	height: 467px;
	position: absolute;
	z-index: -1;
	background-image: url('images/layout/logolight.png');
	left: 174px;
	top: 0px;
	
}

.mainSiteContentDiv {
	min-height: 200px;
	width: 90%;
	background: rgba(255,255,255,.85);
	border: solid #c2c2c2 1px;
	box-shadow: 0px 0px 10px 3px #fff3e2;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	overflow: auto;
	padding-bottom: 20px;
}

.mainMenuIMG {
	width: 167px;
	height: 68px;
	background: url('images/layout/menutitles.png') 0px 0px;
}

.topPlayersIMG {
	width: 167px;
	height: 68px;
	background: url('images/layout/menutitles.png') -167px 0px;
}

.forumActivityIMG {
	width: 167px;
	height: 68px;
	background: url('images/layout/menutitles.png') -334px 0px;
}


.shoutBoxIMG {
	width: 167px;
	height: 68px;
	background: url('images/layout/menutitles.png') -501px 0px;
}


.newestMembersIMG {
	width: 167px;
	height: 68px;
	background: url('images/layout/menutitles.png') -668px 0px;
}

.rightMenuDiv {
	width: 165px;
	float: right;
	padding-right: 2px;
}

.leftMenuDiv {
	width: 165px;
	float: left;
}

.centerContentDiv {
	margin-left: 180px;
	margin-right: 180px;
}

.gradientBox {
	height: 15px;
	background-image: url("gradient.png");
	border: solid #833400 1px;
	padding: 2px;
	padding-top: 3px;
	color: white;
	font-family: 'Overlock SC', verdana, sans-serif;
	margin-top: 5px;
	font-size: 12px;
}

.menuLinks {
	padding-left: 10px;
}


/* Custom BTCS4.css */

.breadCrumbTitle {
	font-family: 'Cinzel', verdana, sans-serif;	
}

.breadCrumbTitle, .breadCrumb {
	color: color: #833400;	
}

.dashedLine, .dottedLine, .solidLine {
	border-color: #833400;	
}